[Unit]
Description=Connect and control LEDs

[Service]
User=root
EnvironmentFile=/home/pi/config.env
ExecStart=sh -c "nmcli device wifi connect ${WLED_WIFI_SSID} password ${WLED_WIFI_PASSWORD} && python3 /home/pi/lights.py"
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
